[Desktop Entry]
Type=Application
Version=1.0
Name=Lava Launcher
Comment=A simple Minecraft launcher
Exec=lavalauncher %u
Icon=lavalauncher
Terminal=false
Categories=Game;
StartupNotify=true
